In [1]:
import pandas as pd 
import numpy as np

In [2]:
data=pd.read_csv('homeprices.csv')
data.head()

   area  bedrooms  age   price
0  2600       3.0   20  550000
1  3000       4.0   15  565000
2  3200       NaN   18  610000
3  3600       3.0   30  595000
4  4000       5.0    8  760000

In [9]:
data.bedrooms.isnull().sum()

1

In [20]:
data['bedrooms'].median()

4.0

In [22]:
data['bedrooms']=data['bedrooms'].fillna(data['bedrooms'].median())
data.head()

   area  bedrooms  age   price
0  2600       3.0   20  550000
1  3000       4.0   15  565000
2  3200       4.0   18  610000
3  3600       3.0   30  595000
4  4000       5.0    8  760000

In [23]:
from sklearn.linear_model import LinearRegression

In [24]:
leg=LinearRegression()

In [30]:
y=data.drop('price',axis='columns')
y.head()

   area  bedrooms  age
0  2600       3.0   20
1  3000       4.0   15
2  3200       4.0   18
3  3600       3.0   30
4  4000       5.0    8

In [31]:
leg.fit(y,data.price )

LinearRegression()

In [32]:
leg.coef_

array([  112.06244194, 23388.88007794, -3231.71790863])

In [33]:
leg.intercept_

221323.00186540443

In [35]:
leg.predict([[4000,5,8]])

C:\Users\Shadin\anaconda3\envs\Deeplearing\lib\site-packages\sklearn\base.py:445: UserWarning: X does not have valid feature names, but LinearRegression was fitted with feature names
  warnings.warn(

array([760663.42675457])